
html
  overflow-y: scroll // show scrollbar regardless of page height
  height: 100%

body
  position: relative
  overflow: hidden
  background-color: $app-gray-light
  cursor: default

.container
  box-sizing: border-box
  padding: 2em
  @media screen and (max-width: #{$app-media-xs})
    padding: 1.2em

.stage
  box-sizing: border-box
  padding-bottom: 8em
  background-color: #fff

.stage_footer
  position: absolute
  bottom: 100%
  left: 0
  right: 0
  padding: 2em
  background-color: #ffd63e
  @media screen and (max-width: #{$app-media-xs})
    padding: 1.2em

.content
  position: relative
  background-color: #fcc62e

.content_width
  max-width: 33em

.article_preview
  transform: translate(90%, 0)
  transition: transform 500ms ease 0s
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  border-left: 0.5em solid $app-color-one
  background-color: $app-gray-medium
  color: #999
  @media screen and (max-width: #{$app-media-xs})
    transform: translate(95%, 0)

.article_preview_inner
  overflow: hidden
  padding: 3em 3em
  @media screen and (max-width: #{$app-media-xs})
    padding: 1.2em

.article_preview_open
  transform: translate(34.5%, 0)
  background-color: #fff
  color: $app-font-color
  @media screen and (max-width: #{$app-media-small})
    transform: translate(0, 0)
  .article_preview_button
    @media screen and (max-width: #{$app-media-small})
      right: auto
      left: 0

.article_preview_button
  position: absolute
  right: 100%
  top: 5em
  padding: 1.7em 0.4em 1.7em 0.2em
  background-color: $app-color-one
  cursor: pointer
  color: #fff

.article_container
  // font-size: 1.25em // Only necessary if the base_size is different from the html font-size
  transition: font-size 0.3s ease 0.3s

.article_content
  max-width: 38em
  font-family: "Poppins", sans-serif
