<!DOCTYPE html>
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %meta{content: 'width=device-width', name: 'viewport'}
    %title Type Scale - A Visual Calculator
    %meta{name: "description", content: "Preview and choose the right type scale for your project. Experiment with font size, scale and different webfonts."}
    %meta{name: "keywords", content: "font, size, typography, typographic, typeface, em, ems, px, scale, calculate, calculator, webfont, edit, update, modular scale, preview"}

    %link{href: "style.css", rel: "stylesheet", media: "all"}

    %link{href: 'https://fonts.googleapis.com/css?family=Poppins:400,400italic,700,700italic', rel: 'stylesheet', type:'text/css'}

    %link.webfont_url{rel: 'stylesheet', type:'text/css'}

    %link{href: "https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css", rel: "stylesheet"}

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-409712-10', 'type-scale.com');
    ga('send', 'pageview');
    </script>

    %style.js_style_weight{type: "text/css"}
    %style.js_style_body_font{type: "text/css"}
    %style.js_style_body_weight{type: "text/css"}
    %style.js_style_background_color{type: "text/css"}
    %style.js_style_font_color{type: "text/css"}

  %body
    .container.stage
      .table_layout
        .table_row
          .sidebar.border_right
            %form
              .field
                %label Base Size
                %input.base_size{type: 'text', style: 'max-width:4em;'}
                %span.text_muted
                  px (<span class="base_em"></span>em)

              .cols.cols_fields
                .js_scale_div
                  .field
                    %label Scale
                    %select.font_scale
                      %option{value: '1.067'} 1.067 &mdash; Minor Second
                      %option{value: '1.125'} 1.125 &mdash; Major Second
                      %option{value: '1.200'} 1.200 &mdash; Minor Third
                      %option{value: '1.250', selected: 'true'} 1.250 &mdash; Major Third
                      %option{value: '1.333'} 1.333 &mdash; Perfect Fourth
                      %option{value: '1.414'} 1.414 &mdash; Augmented Fourth
                      %option{value: '1.500'} 1.500 &mdash; Perfect Fifth
                      %option{value: '1.618'} 1.618 &mdash; Golden Ratio
                      %option{disabled: 'true'} &mdash;&mdash;
                      %option{value: 'custom'} Custom &nbsp; &nbsp; &gt;&gt;

                .js_custom_scale_div.hide
                  .field.font_scale_custom
                    %label Value
                    %input{type: 'text'}

              .cols.cols_fields
                .col_two_thirds
                  .field
                    .text_light{style: 'float:right;'}
                      %a.remove_border_bottom{href: 'https://fonts.google.com/', target: '_blank', tabindex: '-1'}
                        %span.fa.fa-fw.fa-external-link

                    %label
                      Google Font
                    %select.js_web_font

                .col_one_third
                  .field
                    %label Weight
                    %input.i_weight{type: 'text', value: '400'}

              .field
                %label Preview Text
                %input.preview_text{type: 'text', value: 'A Visual Type Scale'}

              .field
                %ul.inline_list.text_small.text_light
                  %li
                    %a.js_link_reset{href: '#'}
                      Reset All
                  %li
                    %a.js_permalink{href: '#'}
                      Save for Later

              .field
                %input.js_permalink_field.hide.text_small{type: 'text'}

              .js_param_url.hide https://type-scale.com/?size=<span class="js_param_size">16</span>&amp;scale=<span class="js_param_scale">1.250</span>&amp;text=<span class="js_param_text">A Visual Type Scale</span>&amp;font=<span class="js_param_font">Poppins</span>&amp;fontweight=<span class="js_param_weight">400</span>&amp;bodyfont=<span class="js_param_body_font">Poppins</span>&amp;bodyfontweight=<span class="js_param_weight_headers">400</span>&amp;backgroundcolor=<span class="js_param_background_color">white</span>&amp;fontcolor=<span class="js_param_font_color">%23333</span>&amp;preview=false

          .main_content
            .scale.table_padded
              .js_scale_add_high_section.table_row
                .table_cell.text_light.text_right
                  %a.js_scale_add_high.remove_border_bottom{href: '#'}
                    %span.fa.fa-lg.fa-plus-circle
                .table_cell

              .js_scale_section_high.table_row
                .table_cell.text_right.media_xs_text_left.cell_collapse
                  %span.scale_high_label.text_muted.text_small
                .table_cell.scale_webfont
                  %h1
                    %span.scale_high.scale_preview_text A Visual Type Scale

              .table_row
                .table_cell.text_right.media_xs_text_left.cell_collapse
                  %span.scale_high_label.text_muted.text_small
                .table_cell.scale_webfont
                  %span.scale_high.scale_preview_text A Visual Type Scale

              .table_row
                .table_cell.text_right.media_xs_text_left.cell_collapse
                  %span.scale_high_label.text_muted.text_small
                .table_cell.scale_webfont
                  %span.scale_high.scale_preview_text A Visual Type Scale

              .table_row
                .table_cell.text_right.media_xs_text_left.cell_collapse
                  %span.scale_high_label.text_muted.text_small
                .table_cell.scale_webfont
                  %span.scale_high.scale_preview_text A Visual Type Scale

              .table_row
                .table_cell.text_right.media_xs_text_left.cell_collapse
                  %span.scale_high_label.text_muted.text_small
                .table_cell.scale_webfont
                  %span.scale_high.scale_preview_text A Visual Type Scale

              .scale_base_size.table_row
                .table_cell.text_right.media_xs_text_left.cell_collapse
                  %span.scale_high_label.text_muted.text_small
                .table_cell.scale_webfont
                  %span.scale_high.scale_preview_text A Visual Type Scale

              .table_row
                .table_cell.text_right.media_xs_text_left.cell_collapse
                  %span.scale_low_label.text_muted.text_small
                .table_cell.scale_webfont
                  %span.scale_low.scale_preview_text A Visual Type Scale

              .table_row
                .table_cell.text_right.media_xs_text_left.cell_collapse
                  %span.scale_low_label.text_muted.text_small
                .table_cell.scale_webfont
                  %span.scale_low.scale_preview_text A Visual Type Scale

              .js_scale_section_low.table_row
                .table_cell.text_right.media_xs_text_left.cell_collapse
                  %span.scale_low_label.text_muted.text_small
                .table_cell.scale_webfont
                  %span.scale_low.scale_preview_text A Visual Type Scale

              .js_scale_add_low_section.table_row
                .table_cell.text_light.text_right
                  %a.js_scale_add_low.remove_border_bottom{href: '#'}
                    %span.fa.fa-lg.fa-plus-circle
                .table_cell

            %hr

            <script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CKYIV2JW&placement=typescalecom" id="_carbonads_js"></script>

            %form{action: 'https://codepen.io/pen/define', method: 'POST', target: '_blank'}

              %a.btn.break_small.expand_down{href: '#', data: {'toggle' => '.js_generated_css'}, onClick: "ga('send', 'event', 'toggle', 'click', 'css-button');"}
                %span.fa.fa-fw.fa-chevron-down
                Grab the CSS

              &nbsp;

              %input.codepen_json{type: 'hidden', name: 'data'}

              %button.codepen_btn.break_small{type: 'submit', onClick: "ga('send', 'event', 'external-link', 'click', 'codepen-edit');"}
                %span.fa.fa-fw.fa-codepen
                Edit on CodePen

              &nbsp;

            .js_generated_css.hide
              %pre.codepen_able{data: {'type' => 'css'}, contenteditable: 'true', onClick: "document.execCommand('selectAll',false,null); ga('send', 'event', 'select', 'click', 'css-code');"}
                %code
                  :preserve
                    @import url('<span class="js_css_webfont_url">https://fonts.googleapis.com/css?family=Poppins:400</span>');

                    html {font-size: <span class="js_css_font_size"></span>px;}

                    body {
                      background-color: <span class="js_css_background_color">white</span>;
                      font-family: <span class="js_css_body_font_family">'Poppins', sans-serif;</span>
                      font-weight: <span class="js_css_body_weight">400</span>;
                      line-height: 1.5;
                      color: <span class="js_css_color">#333</span>;
                    }

                    p {margin-bottom: 1.250em;}

                    h1, h2, h3, h4, h5 {
                      margin: 1.250em 0 0.64em;<span class="js_css_font_headers"></span>
                      font-family: <span class="js_css_font_family">'Poppins', sans-serif;</span>
                      font-weight: <span class="js_css_weight">400</span>;
                      line-height: 1.2;
                    }

                    h1 {
                      margin-top: 0;
                      font-size: <span class="js_css_header_size"></span>em;
                    }

                    h2 {font-size: <span class="js_css_header_size"></span>em;}

                    h3 {font-size: <span class="js_css_header_size"></span>em;}

                    h4 {font-size: <span class="js_css_header_size"></span>em;}

                    h5 {font-size: <span class="js_css_header_size"></span>em;}

                    small, .text_small {font-size: <span class="js_css_small_size"></span>em;}

    .content.container
      .table_layout.stage_footer
        .table_row
          .sidebar.text_right.media_xs_hide
            %ul.inline_list
              %li
                %a.remove_border_bottom{href: 'https://j.eremy.net/'}
                  %span.fa.fa-laptop.fa-lg
              %li
                %a.remove_border_bottom{href: 'https://twitter.com/jeremybchurch'}
                  %span.fa.fa-twitter.fa-lg
              %li
                %a.remove_border_bottom{href: 'https://github.com/jeremychurch/type-scale'}
                  %span.fa.fa-github-alt.fa-lg

          .main_content
            A type tool by
            %ul.inline_list
              %li
                %a{href: 'https://twitter.com/jeremybchurch'} Jeremy Church

      .table_layout
        .table_row
          .sidebar.media_xs_hide &nbsp;

          .main_content
            .content_width.font_medium.break_large
              %h2 How to Use

              %p I like to enter the base font-size for paragraph text. Then I select from the surrounding values for headers and small text.

              %p There are no rules. Just experiment and have fun. Try using the values for line-height, margins or whatever, and see what works.

              %h2 EM vs. REM Values

              %p The rem value is the same as the em value displayed above. Both units are scalable; the only difference between the two is that em is proportionate to its nearest parent that has a font-size, whereas rem is always relative to the &lt;html&gt; font-size. You can read more about these units from an article I wrote on the subject, <a href='https://j.eremy.net/confused-about-rem-and-em/'>Confused About REM and EM?</a>

              %p Also, <a href='https://github.com/jeremychurch/type-scale/issues/9#issuecomment-279762522'>here&rsquo;s a response</a> I wrote to a GitHub request. There are a few examples there as well.

              %h2 Additional Resources

              %ul
                %li <a href='http://pxtoem.com/'>pxtoem.com - PX to EM conversion made simple</a>

                %li <a href='https://www.fontsquirrel.com/'>fontsquirrel.com - Free fonts &amp; webfont generator</a>

                %li <a href='https://j.eremy.net/confused-about-rem-and-em/'>Confused About REM and EM?</a>

              %h2 Background

              %p Tim Brown&rsquo;s <a href="https://www.modularscale.com/">Modular Scale</a> site raised awareness about type scales, helped to improve typography on the web, and it was the inspiration for this project.

            .break_small
              %ul.inline_list
                %li
                  %a.remove_border_bottom{href: 'https://j.eremy.net/'}
                    %span.fa.fa-laptop.fa-2x
                %li
                  %a.remove_border_bottom{href: 'https://twitter.com/jeremybchurch'}
                    %span.fa.fa-twitter.fa-2x
                %li
                  %a.remove_border_bottom{href: 'https://github.com/jeremychurch/type-scale'}
                    %span.fa.fa-github-alt.fa-2x

            %p.text_small
              Created by <a href="https://j.eremy.net/">Jeremy Church</a>
              %br
              Project available on <a href="https://github.com/jeremychurch/type-scale">GitHub</a>. Code licensed under <a href="https://opensource.org/licenses/mit-license.html">MIT License</a>.

    .article_preview
      .article_preview_button.fa.fa-chevron-left.fa-lg.fa-fw{onClick: "ga('send', 'event', 'toggle', 'click', 'article-preview');"}
      .article_preview_inner
        .break_small
          %form
            .cols.cols_fields
              .col_two_thirds
                .field
                  %label Body Font
                  %select.js_body_font

              .col_one_third
                .field
                  %label Body Weight
                  %input.i_body_weight{type: 'text', value: '400'}

            .cols.cols_fields
              .col_half
                .field
                  %label Background Color
                  %input.background_color{type: 'text', value: 'white'}

              .col_half
                .field
                  %label Font Color
                  %input.font_color{type: 'text', value: '#333'}

        .article_container
          .article_content
            %h1.article_header One Morning, When Gregor Samsa Woke

            %p From troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.

            %h2.article_header One Morning, When Gregor Samsa Woke

            %p From troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.

            %h3.article_header One Morning, When Gregor Samsa Woke

            %p From troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.

            %h4.article_header One Morning, When Gregor Samsa Woke

            %p From troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.

            %h5.article_header One Morning, When Gregor Samsa Woke

            %p From troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.

            %p.text_small &mdash; Excerpt from The Metamorphosis, by Franz Kafka.

    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}

    %script{src: "script.min.js"}
